@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:acronym"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

article > blockquote,
#the-busher-abroad > section > blockquote{
	margin: 1em 0;
}

table{
	margin: 1em auto;
}

tr > td:last-of-type{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

#decorated blockquote:last-of-type > blockquote > header{
	font-variant: small-caps;
	text-align: center;
}

#decorated > blockquote:last-of-type > blockquote:first-of-type{
	text-align: center;
}

#decorated > blockquote:last-of-type p{
	text-indent: 0;
}

/* Numbered headings in Jack's letter */
#stragety-and-tragedy div > header{
	font-size: larger;
	margin-top: 1em;
	text-align: center;
}

/* Overriding the style here - source material did not use small-caps here. */
#purls-before-swine [epub|type~="z3998:recipient"]{
	font-variant: normal;
}
